<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seznam</title>
</head>
<body>
    {% extends "base.html" %}


        {% block title %}Seznam{% endblock title %}
    {% block content %}
        <h1>Seznam tem</h1>

<table class="table">
  <tr>
    <th>Tema</th>
    <th>Autor</th>
    <th>Ustvarjeno</th>
  </tr>

  {% for l in list%}
  <tr>
    <td><a href="/topic/{{l.key.id()}}">{{l.title}}</a></td>
    <td>{{l.author_email}}</td>
    <td>{{l.created}}</td>
  </tr>

  {% endfor %}
</table>


{% endblock content %}


</body>
</html>
